/***BASE STYLES***/

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Source Code Pro', monospace;
}

nav {
  height: 38px;
}

header {
  height: 762px;
}

p {
  font-family: 'Lato', sans-serif;
}

#portfolio {
  height: auto;
}

#skills {
  height: 600px;
}

#about {
  height: 550px;
}

#contact {
  height: 450px;
}

.full-width {
  width: 1200px;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

.row-1, .row-2, .row-3, .row-4 {
  height: 470px;
}

#portfolio, #about {
  background-color: #B4B4B4;
}

h3 span {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  background-color: #BDA9B6;
  margin-left: 530px;
}

/***NAV STYLING***/

nav {
  background-color: #B4B4B4;
}

nav ul li {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400px;
  text-align: left;
  display: inline-block;
  margin-left: 55px;
}

ul {
  margin-top: 0;
}

a {
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: .5px;
  color: #000000;
}

/***HEADER STYLING***/

header {
  background: url('../img/hero-background.png');
  background-repeat: no-repeat;
}

header, h1 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
  float: left;
}

header, h1:before {
  content: "<";
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

header, h1:after {
  content: " />";
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h1 {
  margin: 0px 50px 0 25px;
}

header h2 {
  font-family: 'Lato', sans-serif;
  font-size: 72px;
  float: left;
  margin-left: 30px;
  margin-top: 200px
}

header span.code-txt {
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
  color: #BDA9B6;
}

span.code-txt:before {
  content: "<";
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
}

span.code-txt:after {
  content: ">";
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
}

header span.create-txt {
  font-family: 'Playfair Display', serif;
  background-color: #BDA9B6;
}

/***PORTFOLIO SECTION STYLING***/

.portfolio-txt, .portfolio-img {
  margin: 50px;
}

/***SOFT/BULLET SKILLS STYLING***/

#bullet-skills {
  text-align: center;
  margin-top: 30px;
}

#bullet-skills p strong {
  font-size: 30px;
  font-size: 25px;
  text-transform: uppercase;
}

#bullet-skills p {
  font-size: 25px;
  margin: 0 70px 40px 70px;
  letter-spacing: .3px;
  line-height: 27px;
}

/***SKILL SECTION STYLING***/

.skill-1, .skill-2, .skill-3 {
  margin: 40px 20px 0 40px;
  text-align: center;
}

.skill-1 {
  margin-left: 40px;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  letter-spacing: .2px;
}

/***ABOUT ME SECTION STYLING***/

#about p {
  margin: 70px 70px 0 0;
}

span.CTA {
  font-weight: bold;
  background-color: #BDA9B6;
  text-align: center;
  margin-left: 150px;
}

#about p strong {
  margin-left: 110px;
}

/***CONTACT SECTION STYLING***/

.clmn-1, .clmn-2, .clmn-3 {
  margin: 20px 0 0 30px;
}

#contact p {
  text-align: center;
}

#contact a {
  font-family: 'Lato', sans-serif;
  margin-left: 50px;
}

#contact ul {
  text-align: center;
}

#contact li a {
  display: inline-block;
  text-decoration: none;
}
