/***BASE STYLES***/

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Source Code Pro', monospace;
}

nav {
  height: 38px;
}

header {
  height: 762px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#portfolio {
  height: auto;
  overflow: auto;
}

#skills {
  height: 600px;
}

#contact {
  height: 350px;
}

footer {
  height: 55px;
}

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

.row-1, .row-2, .row-3, .row-4 {
  height: 470px;
}

#portfolio, #about {
  background-color: #D9D9D9;
}

h3 span {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  background-color: #BDA9B6;
  margin-left: 530px;
  padding: 0 10px 0 10px;
}

/***NAV STYLING***/

nav {
  background-color: #D9D9D9;
}

nav ul li {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  display: inline-block;
  margin-left: 15px;
}

ul {
  margin-top: 0;
  padding-left: 20px;
}

a {
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: .5px;
  color: #000000;
  margin-left: 20px;
}

/***HEADER STYLING***/

header {
  background: url('../img/hero-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 10px 20px;
}

h1:before {
  content: "<";
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h1:after {
  content: " />";
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

header h2 {
  font-family: 'Lato', sans-serif;
  font-size: 72px;
  float: left;
  margin-left: 30px;
  margin-top: 200px
}

header span.code-txt {
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
  color: #BDA9B6;
  padding: 0 7px;
}

span.code-txt:before {
  content: "<";
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
}

span.code-txt:after {
  content: ">";
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
}

header span.create-txt {
  font-family: 'Playfair Display', serif;
  background-color: #BDA9B6;
}

/***PORTFOLIO SECTION STYLING***/

.portfolio-img {
  margin: 20px 40px 20px 20px;
}

.portfolio-txt {
  margin: 20px 30px 20px 50px;
}

.portfolio-txt p {
  line-height: 25px;
  letter-spacing: .2px;
}

.project-link {
  font-weight: bold;
  background-color: #BDA9B6;
  text-transform: none;
}

/***SOFT/BULLET SKILLS STYLING***/

#bullet-skills {
  text-align: center;
  margin-top: 30px;
}

#bullet-skills p strong {
  font-size: 30px;
  font-size: 25px;
  text-transform: uppercase;
}

#bullet-skills p {
  font-size: 25px;
  margin: 0 70px 40px 70px;
  letter-spacing: .3px;
  line-height: 27px;
}

/***SKILL SECTION STYLING***/

.skill-1, .skill-2, .skill-3 {
  margin: 40px 20px 0 40px;
  text-align: center;
}

.skill-1 {
  margin-left: 40px;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  letter-spacing: .2px;
}

#about {
  overflow: auto;
}

/***ABOUT ME SECTION STYLING***/

#about p {
  margin: 70px 70px 0 0;
}

span.CTA {
  font-weight: bold;
  background-color: #BDA9B6;
  text-align: center;
  margin-left: 150px;
}

#about p strong {
  margin-left: 110px;
}

/***CONTACT SECTION STYLING***/

#contact .third-width {
  width: 350px;
  float: left;
  margin-left: 40px;
}

.clmn-1, .clmn-2, .clmn-3 {
  text-align: center;
}

.clmn-1 a {
  margin-top: 25px;
}

#contact p {
  text-align: center;
  text-transform: none;
}

#contact p strong {
  text-transform: capitalize;
}

#contact a {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  font-size: 20px;
}

.clmn-1 {
  margin-right: 15px;
}

.clmn-2 {
  margin-left: 0px;
}

.clmn-2 img {
  margin: 0;
}

.clmn-3 {
  margin: auto;
}

/***FOOTER STYLING***/

footer {
  text-align: center;
  background-color: #D9D9D9;
}

footer p {
  padding-top: 17px;
  text-transform: capitalize;
}
