/***BASE STYLES***/

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Source Code Pro', monospace;
}

nav {
  height: 38px;
}

header {
  height: 762px;
}

p {
  font-family: 'Lato', sans-serif;
}

#portfolio {
  height: 1550px;
}

#skills {
  height: 700px;
}

#about {
  height: 550px;
}

#contact {
  height: 450px;
}

.full-width {
  width: 1200px;
}

.half-width {
  width: 600px;
}

.third-width {
  width: 400px;
}

/***NAV STYLING***/

nav {
  background-color: #B4B4B4;
}

nav ul li {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400px;
  text-align: left;
  display: inline-block;
  margin-left: 30px;
}

ul {
  margin-top: 0;
}

a {
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: .5px;
}

/***HEADER STYLING***/

header {
  background: url('../img/hero-background.png');
  background-repeat: no-repeat;
}

header, h1 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
  float: left;
}

header, h1:before {
  content: "<";
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

header, h1:after {
  content: " />";
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h1 {
  margin: 0px 50px 0 25px;
}

header h2 {
  font-family: 'Lato', sans-serif;
  font-size: 72px;
  float: left;
  margin-left: 30px;
  margin-top: 200px
}

header span.code-txt {
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
  color: #BDA9B6;
}

span.code-txt:before {
  content: "<";
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
}

span.code-txt:after {
  content: ">";
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
}

header span.create-txt {
  font-family: 'Playfair Display', serif;
  background-color: #BDA9B6;
}

/***PORTFOLIO SECTION***/

#portfolio {
  background-color: #B4B4B4;
}

h3 span {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  background-color: #BDA9B6;
  margin-left: 480px;
}

/***ROGUE STYLING***/

.rogue-img {
  float: left;
  margin: 60px;
}

p span {
  font-weight: bold;
}

.rogue-txt {
  margin: 75px;
}

/***ABRIL STYLING***/

.abril-txt {
  float: left;
  margin: 0 60px;
}

.abril-img {
  float: left;
  margin-left: 75px;
}
